/* || reset */
*{ 
  margin: 0;
  padding: 0;
  
}

/*------------------------------------------------------------*/
/* || variables */

:root{
  /* || fonts */
  --FF:Arial, Helvetica, sans-serif;
  --FS:1.3rem;
  /* || colors */
--NAVBARCOLOR: hwb(217 88% 6%);
--MAINCOLOR:#0cc3e2;
--MAINCOLOR2:#E6EDFF;
--AUTHBGCOLOR: #EFEFEF;
--FC:white;
--HOVERLINK: hsl(218, 91%, 60%);
--BORDERCOLOR:#adadad;
--SUBMITBTCOLOR:#2691d9;
--VALIDCOLOR:green;
--INVALIDCOLOR:red;
--TEXTCOLOR1:#666;

}

/*------------------------------------------------------------*/
/* || General styles */
html{
  scroll-behavior: smooth;
}

body{
  font-size: var(--FS);
  box-sizing: border-box;
}


/*------------------------------------------------------------*/
/* || justify */
.nowrap{
  white-space: nowrap;
}

/*------------------------------------------------------------*/
/* || Nav Bar */

.Navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--NAVBARCOLOR);
  gap: 0.5em;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  padding-top: 0.3em;
  z-index: 1;
  
}

.Nav_Logo{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  width: 12%;
  cursor: pointer;
}

.Nav_Logo img{
  width: 100%;
  height: auto;
}

.Navbar .Nav_Logo a:focus{
  border: none;
}

.Nav_Logo a:hover{
  width: 95%;
}

.Nav_searchField{
  display: flex;
  min-width: 50px;
  height: 1.8em;
  flex-grow: 0.3;
  flex-shrink: 1;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10em;
  align-self: center;  
  align-items: center;
  padding: 0.05em;

}

.Nav_searchField .Nav_searchField_Icon{
  width: 1.6em;
  height: auto;
}
.Nav_searchField .Nav_searchField_Icon:hover{
  width: 1.4em;
}



.Nav_searchField input{

  width:calc(100% - 5em);
  border: none;
}

.Nav_searchField input:focus{
  outline: none;
}


.Nav_links{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 10em;
  overflow-y: hidden;
  gap: 1em;
  flex-grow: 0.8;
  flex-shrink: 0.5;
}

.Nav_links a{
  font-family: var(--FF);
  color: black;
  text-decoration: none;
  height: 70%;
  padding-top: 2%;
  padding-left: 2.5%;
  border-left: 1px solid hsla(0, 0%, 50%, 0.2);
  padding-right: 2.5%;
  border-right: 1px solid hsla(0, 0%, 50%, 0.2);
  transition: background-color 1.2s, color 0.8s;
  animation: fadeIn 0.6s ease-in-out forwards;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  
}


.Navbar .Nav_links a:hover, a:focus{
  border: none;
}

.Nav_links .active {
  color: var(--FC);
  background-color: var(--MAINCOLOR);
  align-self: end;
  height:55% ;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  border: none;
  transition: background-color 1.3s, color 0.5s, opacity 0.8s;
  animation: fadeIn 0.6s ease-in-out forwards;
}


.Nav_links .color2 {
  color: black;
  background-color: var(--MAINCOLOR2);
}

::-webkit-scrollbar{
  width: 10px;
}
.Nav_links::-webkit-scrollbar{
  height: 6px;
}

::-webkit-scrollbar-track{
  background-color: white;
}
.Nav_links::-webkit-scrollbar-track{
  background-color: var(--NAVBARCOLOR);
}


::-webkit-scrollbar-thumb{
  background-color: var(--BORDERCOLOR);
  border-radius: 1em;
}
.Nav_links::-webkit-scrollbar-thumb{
  background-color: white;
  border-radius: 1em;
}

.Nav_Profile{
  align-self: center;
}


.Nav_Profile figure{
  display: grid;
  place-content: center;
  width: clamp(2em,4cqi,3em);
  height:clamp(2em,4cqi,3em);
  border-radius: 2em;
  background-color: var(--AUTHBGCOLOR);
  border: 1px solid hsl(0, 4%, 76%);
}

.Nav_Profile figure img{
  width: clamp(1.5em,4cqi,2.2em);
  height:auto;;
}

.Nav_AuthLinks{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 0.1;
  gap: 0.2em;
  cursor: pointer;
  font-size: clamp(0.8em,2cqi,1em);
}

.Nav_AuthLinks a:visited{
  color:inherit ;
}

.Nav_AuthLinks a:hover, a:focus{
  color: hsl(0, 0%, 46%);
  font-size: 1.05em;
}

.Nav_AuthLinks a:last-child{
  background-color: var(--MAINCOLOR);
  padding: 0.2em;
  border-radius: 1em;
  color: var(--FC);
  text-decoration: none;
}

.Nav_AuthLinks a:last-child:hover, a:last-child:focus-visible{
  border: 0.5px solid var(--HOVERLINK)
}


.Nav_language{
  flex-grow: 0.05;
  align-self: center;
}

.Nav_language a{
  text-decoration: none;
  color: black;
  cursor: pointer;
  padding-right: 0.2em;
}

.Nav_language a:hover{
  font-size: 1.05em;
}

.Nav_language a:focus{
  border: none;
}

/*------------------------------------------------------------*/
/* || Main Content */ 

.Container{
  display: grid;
  grid-template-rows: 100vh 100vh 100vh 100vh 100vh;
  width: auto;
  overflow: hidden;
}


.Intoduction{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 3fr 1fr;
  background-color: var(--MAINCOLOR);
  width: auto;
  gap: 0.1em;
  overflow: hidden;
  transition: background-color 1.3s, color 0.5s, opacity 0.2s;
  animation: fadeIn 1s ease-in-out forwards; 
}

.IntroHero{
  display: flex;
  align-self: center;
  grid-row: span 2;
  container-type: inline-size;
  margin-right: 0.5em;
  transition: background-color 1.3s, color 0.5s, opacity 0.3s;
  animation: fadeIn 1.5s ease-in-out forwards; 
}


.IntroHero img{
  flex-grow: 1;
  width: clamp(2em,100%,30em);
  height: auto;
  
}


.Intro_Headers{
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  justify-content:center;
  width: 70%;
  gap: 0.5em;
  container-type: inline-size;
  transition: background-color 1.3s, color 0.5s, opacity 0.4s;
  animation: fadeIn 2s ease-in-out forwards; 
}


.Intro_Headers h1{
  font-size: clamp(1.5em,18cqi,3em);
  font-family: var(--FF);
  text-shadow: 3px 2px 1px rgba(0, 0, 0, 0.368);
}

.Intro_Headers h2{
  font-family: var(--FF);
  font-size: clamp(1em,6cqi,1.5em);
}

.Intro_bt{
  align-self: flex-start;
  margin:0 0 0 4em;
  width: clamp(2em,50%,10em);
  height: clamp(2em,100%,2.5em);
  color: white;
  background-color: black;
  font-size: clamp(0.1em,3cqi,1.2em);
  font-family: var(--FF);
  border: none;
  border-radius: 2em;
  transition: background-color 1.3s, color 0.5s, opacity 0.5s;
  animation: fadeIn 2.5s ease-in-out forwards; 
}

.Intro_bt:hover{
  box-shadow: 1px 1px 5px black;
  text-shadow: 0.2px 0.2px 2px var(--MAINCOLOR2);
}

/*------------------------------------------------------------*/
/* || AboutUs section */

.AboutUs{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 3fr 1fr;
  background-color: var(--MAINCOLOR2);
  width: auto;
  gap: 0.1em;
}


.AbUs_Hero{
  display: flex;
  align-self: center;
  grid-row: span 2;
  container-type: inline-size;
  transition: background-color 1.3s, color 0.5s, opacity 0.1s;
  animation: fadeIn 1s ease-in-out forwards; 
}


.AbUs_Hero img{
  flex-grow: 1;
  width: clamp(2em,100%,30em);
  height: auto;
  margin-top: 1em;
}

.AbUs_Header {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  justify-content:center;
  width: 70%;
  gap: 2em;
  margin-right: 1.9em;
  container-type: inline-size;
  transition: background-color 1.3s, color 0.5s, opacity 0.2s;
  animation: fadeIn 1.5s ease-in-out forwards; 
}


.AbUs_Header h1{
  font-size: clamp(1.5em,18cqi,3em);
  font-family: var(--FF);
  text-shadow: 3px 2px 1px rgba(0, 0, 0, 0.368);
}


.AbUs_Header p{
  font-family: var(--FF);
  font-size: clamp(0.5em,4cqi,1em);
 
}

.AbUs_bt {
  align-self: flex-start;
  margin:0 0 0 3em;
  width: clamp(2em,50%,10em);
  height: clamp(2em,100%,2.5em);
  color: white;
  background-color: black;
  font-size: clamp(0.1em,3cqi,1.2em);
  font-family: var(--FF);
  border: none;
  border-radius: 2em;
  transition: background-color 1.3s, color 0.5s, opacity 0.3s;
  animation: fadeIn 2s ease-in-out forwards; 
}

.AbUs_bt:hover{
  box-shadow: 1px 1px 5px black;
  text-shadow: 0.2px 0.2px 2px var(--MAINCOLOR2);
}

/*------------------------------------------------------------*/
/* || Services section */


.Services{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  place-content: center;
  background-color: var(--MAINCOLOR);
  width: auto;
  /* height: 100vh ; */
  gap: 2em;
  margin-top: -10px;
  font-family: var(--FF);
  transition: background-color 1.3s, color 0.5s, opacity 0.2s;
  animation: fadeIn 1s ease-in-out forwards; 
}


.Serv_Header{
  padding-top: 9vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 90%;
  transition: background-color 1.3s, color 0.5s, opacity 0.3s;
  animation: fadeIn 1.5s ease-in-out forwards; 
}

.Serv_Header h2{
  font-size: clamp(1.5em,2.5cqi,2em);
  text-shadow: 3px 2px 1px hsla(177, 9%, 45%, 0.368);
  color: white;

}

.Serv_Header p{
  font-size: clamp(1em,1.5cqi,1.2em);
  color: white;
}

.Serv_Content{
  align-items: start;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2em;
  margin: 0 auto;
  height: auto;
  width: clamp(20em,100%,40em);
}


.Serv_Content figure{
  display: grid;
  grid-template-rows: 5fr 1fr;
  width: 100% ;
  height:100%;
  border-radius: 2em;
  padding: 0.5em;
  gap: 1em;
  background-color: var(--MAINCOLOR2);
  transition: background-color 1.3s, color 0.5s, opacity 0.4s;
  animation: fadeIn 2s ease-in-out forwards; 
}


.Serv_Content figcaption{
  border-radius: 2em;
  font-size: clamp(0.4em,1cqi,0.8em);
  color: white;
  text-shadow: 3px 2px 1px hsla(177, 9%, 45%, 0.368);

}

.Serv_Content a {
  display: grid;
  place-content: center;
  background-color: var(--MAINCOLOR);
  border-radius: 2em;
  box-shadow: -1px -1px 10px  black;
  text-decoration: none;
  
}

.Serv_Content a img{
  width: 85%;
  height: auto;
  margin: auto;
  margin-bottom: 0.8em;
  border-radius: 5em;
  background-color: var(--MAINCOLOR2);
  box-shadow: 1px 1px 10px white;
  transition: background-color 1.3s, color 0.5s, opacity 0.5s;
  animation: fadeIn 3s ease-in-out forwards; 
}


.Serv_Content  a:focus, 
.Serv_Content  a:visited{
  border: none;
  color: white;

}

.Serv_Content  a:hover{
  box-shadow: 1px 1px 10px black;
}

.Serv_bt{
  align-items: start;
  justify-self: center;
  width: clamp(2em,50%,10em);
  height: clamp(2em,100%,2.5em);
  color: white;
  background-color: black;
  font-size: clamp(0.1em,3cqi,1.2em);
  border: none;
  border-radius: 2em;
  transition: background-color 1.3s, color 0.5s, opacity 0.6s;
  animation: fadeIn 3s ease-in-out forwards; 
}


.Serv_bt:hover{
  box-shadow: 1px 1px 5px black;
  text-shadow: 0.2px 0.2px 2px var(--MAINCOLOR2);
}

/*------------------------------------------------------------*/
/* || Team and Partners */

.Team_Partner{
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: var(--MAINCOLOR2);
  width: auto;
  transition: background-color 1.3s, color 0.5s, opacity 0.2s;
  animation: fadeIn 1s ease-in-out forwards; 
}


.TP_Partner{
  display: grid;
  grid-template-rows: 1fr 2fr;
  width: auto;  
  max-height: 55vh;
  place-content: center;
  padding-top: 9vh;
  transition: background-color 1.3s, color 0.5s, opacity 0.3s;
  animation: fadeIn 1.5s ease-in-out forwards; 
}



.TP_Partner_Header{
  display: grid;
  place-content: center;
  
  height: 100%;
  font-size: clamp(2em,4cqi,4em);
  text-shadow: 3px 2px 1px rgba(0, 0, 0, 0.368);

}

.TP_Partner_Logo{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: clamp(25em,95cqi,75em);
  height: 100%;
  column-gap: 1em;
  
}

.TP_Partner_Logo figure{
  width: clamp(1em,25cqi,18em);
  height: 100%;
  justify-self: center;
  transition: background-color 1.3s, color 0.5s, opacity 0.5s;
  animation: fadeIn 2.5s ease-in-out forwards; 
}


.TP_Partner_Logo figure img{
  width: clamp(1em,30cqi,18em); 
  height: auto;
  
}
.TP_Partner_Logo figure:last-child img,
.TP_Partner_Logo figure:first-child img{
  width: clamp(1em,25cqi,14em); 
  
}

.TP_Team{
  display: grid;
  grid-template-rows: 1fr 2fr;
  place-content: center;
  width: 100%;
  max-height: 55vh;
  background-color: var(--MAINCOLOR);
  color: white;
  transition: background-color 1.3s, color 0.5s, opacity 0.4s;
  animation: fadeIn 2s ease-in-out forwards; 
}


.TP_Team_Header{
  display: grid;
  place-content: center;
  height: 100%;
  font-size: clamp(2em,4cqi,4em);
  text-shadow: 3px 2px 1px rgba(0, 0, 0, 0.368);
}
.TP_Team_Profiles ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: clamp(20em,90cqi,70em);
  height: 100%;
  column-gap: 1em;
}

.TP_Team_Profiles li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  list-style: none;
  width:clamp(4em,18cqi,18em);
  height: 100%;
  transition: background-color 1.3s, color 0.5s, opacity 0.6s;
  animation: fadeIn 3s ease-in-out forwards; 
}

.TP_Team_Profiles li figure{
  display: grid;
  width: clamp(7em,15cqi,18em);
  font-size: clamp(0.6em,1.2cqi,0.8em);
}

.TP_Team_Profiles li figcaption{
  margin:auto;
}
.TP_Team_Profile{
  margin: auto;
  width:5em;
  height: auto;
}


.TP_Team_SocialLink{
  display: flex;
  gap: 0.2em;
}

.TP_Team_SocialLink img{
  width: clamp(0.8em,1.9cqi,1.2em);
  height: auto;
}

/*------------------------------------------------------------*/
/* || Contact */


.Contact{
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  grid-template-rows: 19fr 1fr;
  background-color: var(--MAINCOLOR2);
  width: 100%;
  padding-top: 9vh;
  font-family: var(--FF);
  transition: background-color 1.3s, color 0.5s, opacity 0.2s;
  animation: fadeIn 1s ease-in-out forwards; 
}

.Contact_Hero{
  display: grid;
  align-content: center;
  width:100%;
  height: auto;
  transition: background-color 1.3s, color 0.5s, opacity 0.3s;
  animation: fadeIn 1.5s ease-in-out forwards; 
}

.Contact_Hero img{
  width: clamp(2em,100%,30em);
  height: auto;
}


.Contact_info{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.3em;
  transition: background-color 1.3s, color 0.5s, opacity 0.4s;
  animation: fadeIn 2s ease-in-out forwards; 
  
}

.Contact_Logo{
  width:clamp(8em,25cqw,29em);
  transition: background-color 1.3s, color 0.5s, opacity 0.6s;
  animation: fadeIn 2.5s ease-in-out forwards; 

}

.Contact_Logo img{
  width: clamp(1em,22cqw,20em);
  height: auto;
}

.Contact_info_Adress{
  width: clamp(8em,25cqw,29em);
}

.Contact_info_Adress h2{
  font-size: clamp(0.8em,2cqi,1.5em);
}

.Contact_info_Adress address{
  font-size:clamp(0.6em,1.2cqi,0.9em);
}


.Contact_SocialInfo{
  width: clamp(8em,25cqw,29em);
}

.Contact_SocialInfo h2{
  font-size: clamp(0.8em,2cqi,1.5em);
}
.Contact_SocialInfo p{
  display: inline-block;
  font-size: clamp(0.8em,1.2cqi,1em);
  font-weight: 600;
}


.Contact_SocialInfo_Link img{
  width:clamp(1.3em,2.5cqi,2em);
  height: auto;
  margin-right: 0.2em;
}

#email{
  font-size: clamp(0.6em,1.3cqi,1em);
  
}


.Contact_SocialInfo a , .Contact_SocialInfo a:visited, .Contact_SocialInfo a:focus{
  color: black;
  border: none;
  text-decoration: none;
}


#copywrite{
  grid-column: span 2;
  margin: auto;
  font-size: 0.6em;
  padding-bottom: 1em;
}


/* || sign in page
------------------------------------------------------------*/

.AuthenticationContent{
  display: flex;
  flex-direction: row;
  background-color:var(--AUTHBGCOLOR);
  font-family: var(--FF);
  width: 100%;
  min-height: 100svh;

}

.Auth_Hero {
  display: grid;
  place-content: center;
}

.Auth_Hero img {
  width: clamp(10em,40cqi,29em);
  height: auto;
}


.valid_feedback{
  position: relative;
  top: -12px;
  opacity: 0;
  font-size: clamp(0.7em,1.2cqi,0.8em);
  transform: translateY(10px);
  transition: opacity 0.5s, transform 0.8s;
  
}

.invalid_feedback-show{
  color: var(--INVALIDCOLOR);
  font-size: clamp(0.7em,1.2cqi,0.8em);
  opacity: 1;
  transform: translateY(-6px);
  transition: opacity 0.5s, transform 0.5s;
}

.invalid_feedback-hide{
  position: relative;
  top: -25px;
  opacity: 0;
  font-size: clamp(0.7em,1.2cqi,0.8em);
  transform: translateY(0px);
  transition: opacity 0.5s, transform 0.5s;
}

button[type="submit"]{
  width: 100%;
  height: 50px;
  border: none;
  background: var(--SUBMITBTCOLOR);
  border-radius: 25px;
  font-size: 1.5em;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 1px 5px var(--SUBMITBTCOLOR);
  margin-top: 0.5em;
  
}
button[type="submit"]:hover{
  
  box-shadow: 1px 1px 10px var(--SUBMITBTCOLOR);
  transition: .5s;
 
}


.Auth{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 15svh;
  margin-bottom: 15svh;
  border-radius: 2em;
  background-color: white;
  padding-top: clamp(0.5em,1.5cqi,1em);
  box-shadow: 1px 0px 25px hsla(0, 0%, 59%, 0.404);
  width: clamp(20em,30%,22em);
}


.Auth_Forms{
  padding-right:clamp(0.8em,2.5cqi,2em);
  padding-left: clamp(0.8em,2.5cqi,2em);
  font-size: clamp(0.7em,1.2cqi,1em);
}


/*SignIn*/
/*------------------------------------------------------------*/

#Auth_SignIn{
  height:auto;
}

.Auth_Header{
  display: grid;
  place-content: center;
  padding-bottom: clamp(0.5em,1.5cqi,1em);
  border-bottom: 1px solid var(--BORDERCOLOR);
  width: 100%;
  font-size: clamp(0.5em,1.5cqi,1em);
}

.Auth_SignIn_Forms_Details{
    position: relative;
    top: -15px;
    border-bottom: 1px solid var(--BORDERCOLOR);
    margin: 14px 0;
    height: clamp(30px,4cqi,45px);

}

.Auth_SignIn_Forms_Details input{
  position: relative;
  top:clamp(5px,100cqi,15px);
  width: 100%;
  height:clamp(20px,3cqi,35px);
  border: none;
  background: none;
  outline: none;
  


}

.Auth_SignIn_Forms_Details label{
  position: relative;
  top: -20px;
  left: 5px;
  color: var(--BORDERCOLOR);
  transform: translateY(-50%);
  transition: .5s;
}



.Auth_SignIn_Forms_Details input:required~ .invalid_feedback-show{
  position: relative;
  top: -25px;
}

.Auth_SignIn_Forms_Details input:focus ~ label,
.Auth_SignIn_Forms_Details input:valid ~ label{
    top: -36px;
    color: var(--SUBMITBTCOLOR);
  }


  .Auth_SignIn_Forms_Details input:valid ~ .valid_feedback,
  .Auth_SignIn_Forms_Details select:valid ~ .valid_feedback
  {
    color:var(--VALIDCOLOR);
    opacity: 1;
    transform: translateY(0px);
  }


.Auth_SignIn_Date{
  border-bottom: none;
}

.Auth_SignIn_Date label{ 
  font-weight: bold;
}

.Auth_SignIn_Date input{
  width: 100%;
  padding: 7px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}


.Auth_SignIn_Date input:focus {
    border-color: var(--SUBMITBTCOLOR);
    box-shadow: 0 0 5px rgba(38, 145, 217, 0.5);
}

.Auth_SignIn_Date .invalid_feedback-hide{
  position: relative;
  top: 0;
}

.Auth_SignIn_Date .invalid_feedback-show{
  position: relative;
  top: 5px;
}

.Auth_SignIn_Gender{
  display: flex;
  flex-direction: column;
  border-bottom: none;
  gap: 0.5em;
}

.Auth_SignIn_Gender label {
  font-weight: bold;
}
.Auth_SignIn_Gender ul{
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.Auth_SignIn_Gender li {
  display: flex;
  gap: 3px;
  flex-direction: row;
  list-style: none;
}
.Auth_SignIn_Gender li label{
  color:black;
  font-weight: normal;
}

.Auth_SignIn_Gender .invalid_feedback-hide{
  position: relative;
  top: -5px;
}



.Auth_SignIn_UserType{
  border-bottom: none;
}

.Auth_SignIn_UserType select{
  width: 100%;
  padding: 10px;
  border: 2px solid var(--BORDERCOLOR);
  border-radius: 0px;
  background-color: var(--MAINCOLOR2);
  outline: none;
  border-radius: 10px;
  transition: border-color 0.5s , border-radius 0.5s;
  
}

.Auth_SignIn_UserType select:focus {
  border-color: var(--SUBMITBTCOLOR);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0 0 5px rgba(38, 145, 217, 0.5);
}

.Auth_SignIn_UserType  option {
    color: #999;
}

.Auth_SignIn_UserType select option:checked{
  color: black;
}

.Auth_SignIn_UserType .invalid_feedback-hide{
  position: relative;
  top: 3px;
}

.Auth_SignIn_UserType .invalid_feedback-show{
  position: relative;
  top: 5px;
}

.Auth_SignIn_Terms{
  display: flex;
  place-content: center;
  cursor: pointer;
  border: none;
  gap: 0.2em;
}

.Auth_SignIn_Terms input {
  width: 1em;
  cursor: pointer;
}


.Auth_SignIn_Terms label {
  position: relative;
  top: 4px;
  font-size:clamp(0.65em,1.2cqi,0.8em);;
  color: var(--TEXTCOLOR1);
}

.Auth_SignIn_Terms a {
  text-decoration: none;
}

.Auth_SignIn_Terms a:hover {
  text-decoration: underline;
  opacity: 0.9;
}

.Auth_SignIn_Terms .invalid_feedback-hide{
  position: relative;
  top: 4px;
}

.Auth_SignIn_Terms .invalid_feedback-show{
  position: relative;
  top: 10px;
}


.Auth_Forms_Links{
  display: flex;
  place-content: center;
  margin: 10px 0 5px 0;
  color: var(--TEXTCOLOR1);
}
.Auth_Forms_Links a{
  color: var(--SUBMITBTCOLOR);
  text-decoration: none;
}
.Auth_Forms_Links a:hover{
  text-decoration: underline;
  opacity: 0.7;
}

/*LogIn*/
/*------------------------------------------------------------*/

#Auth_LogIn{
  height: clamp(12em,25cqi,15em);
  margin-top: 25svh;
}

.Auth_LogIn_Forms_Links_ForgetPaa a ,
.Auth_LogIn_Forms_Links_ForgetPaa a:visited{
  color: black;
  text-decoration: none;
}

.Auth_LogIn_Forms_Links_ForgetPaa a:hover{
  color: rgba(0, 0, 0, 0.696);
  text-decoration: underline;
}


/*forgot password*/
/*------------------------------------------------------------*/

#Auth_ForgotPass{
  height: clamp(12em,25cqi,15em);
  margin-top: 25svh;
}


/*associatoin_verification*/
/*------------------------------------------------------------*/

#Auth_Verification{
  width: clamp(10em,60%,50em);
  margin-top: 15svh;
  margin-right: 5svw;
}

#Auth_Verification_Forms{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
}




.Auth_Verification_Forms_State select{
  position: relative;
  top: 2em;
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 1em;
  background-color: var(--MAINCOLOR2);
  outline: none;
  cursor: pointer;
}


.Auth_Verification_Forms_State label{
  color: var(--BORDERCOLOR);
  position: relative;
  top: -35px;
}

.Auth_Verification_Forms_State  select:focus ~ label,
.Auth_Verification_Forms_State  select:valid ~ label{
  color: var(--SUBMITBTCOLOR);
}

.Auth_Verification_Forms_State  select:focus{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.Auth_Verification_Forms_State .invalid_feedback-hide{
  position: relative;
  top: 5px;
}

.Auth_Verification_Forms_State .invalid_feedback-show{
  position: relative;
  top: 10px;
}

.Auth_Verification_Forms_Description{
    height: 50%;
}

.Auth_Verification_Forms_Description textarea{
  width: 100%;
  height: 40px;
  position: relative;
  top: 5px;
  padding:12px 5px 5px 5px;
  border: none;
  resize: none;
  outline: none;
  background-color: var(--MAINCOLOR2);
}

.Auth_Verification_Forms_Description label{
  color: var(--BORDERCOLOR);
  font-size: 16px;
  position: relative;
  top: -50px;
  left: 15px;
  padding: 0 2px 0 2px;
  transition: .5s;
}

.Auth_Verification_Forms_Description textarea:focus ~ label,
.Auth_Verification_Forms_Description textarea:valid ~ label{
  color: var(--SUBMITBTCOLOR);
  top: -67px;
  background-color: white;
  border-right: 1px solid var(--BORDERCOLOR);
  border-left: 1px solid var(--BORDERCOLOR);
}

.Auth_Verification_Forms_Description textarea:focus
{
  border: 1px solid var(--BORDERCOLOR);
  background-color: white;
}

.Auth_Verification_Forms_Description textarea:valid ~ .valid_feedback
{
  color:green;
  opacity: 1;
  transform: translateY(20px);
  position: relative;
  top: -40px;

}

.Auth_Verification_Forms_Description .invalid_feedback-show
{
  position: relative;
  top: -35px;

}


.Auth_Verification_Forms_DocFile{
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: relative;
  top: -20px;

}

.Auth_Verification_Forms_DocFile input:invalid{
  color: red;
}

.Auth_Verification_Forms_DocFile input:valid{
  color: green;
}



.Auth_Verification_Forms_Bt{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  margin:10px auto;
  width: 95%;
 
}
.Auth_Verification_Forms_Bt button{
  width: 50%;
  font-size: 0.9em;
  margin: auto;
  
}
.Auth_Verification_Forms_Bt .btn_submit{
    position: relative;
    left: 190px;
}


/* || Media Query */
/* ----------------------------------------------------------*/

@media screen and (max-width: 600px) {
  #Auth_Verification_Forms{
    display: flex;
    flex-direction: column;
  }

  .Auth_Verification_Forms_Bt .btn_submit{
    position: relative;
    left: 55px;
}

}

/* || Animations */
/* ----------------------------------------------------------*/

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0px); 
  }
  to {
    opacity: 1;
    transform: translateY(10px);
  }
}