*{
  margin: 0;
  padding: 0;
}
.navbar{
  background-color: #efefef;
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 1000;
  border-bottom: 1px solid gray;
}

.navbar img{
  float: left;
  position: relative;
  left: 10px;
  top: -25px;
  width: 170px;
}

.navbar input{
  position: relative;
  top: 15px;
  left: 60px;
  border-radius: 10px;
  width: 150px;
  height: 30px;
  background-image: url("./search.png");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 5px;
  padding-left: 30px;
 
}

.signin{
  float: right;
  border-radius: 20px;
  width: 80px;
  height: 35px;
  position: relative;
  top: 15px;
  left: 400px;
  background-color: #0cc3e2;
  color: white;
  font-size: 1.2em;
  border: none;
  cursor: pointer;
}



.links{
  float: right;
  position: relative;
  right: 250px;
  top: 20px;
}

.language{
  float: right;
  position: relative;
  left: 540px;
  top: 20px;
  font-size: 1.3em;
}

.language a{
  text-decoration: none;
  color: black;
}

.links a{
  font-size: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 50px;
  color: black;
  text-decoration: none;
}

.firstpg{
  background-color: #0cc3e2;
  width: 100%;
  height: 700px ;
  position: relative;
  top: 70px;
}

.firstpg img{
  width:800px;
  float: right;
  position: relative;
  left: -10px;
}

.firstpg h1{
  width: 600px;
  font-size: 3.5em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  float: left;
  position: relative;
  top: 150px;
  left: 70px;
}

.firstpg h2{
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8em;
  position: relative;
  left: -530px;
  top: 330px;
  
}

.blackbt{
  height: 60px;
  width: 240px;
  border-radius: 100px;
  color: white;
  background-color: black;
  font-size: 1.4em;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
}

.firstpg button{
  position: relative;
  top: 300px;
  left: 70px;
}

.clear{
  clear: both;
}

.secondpg{
  margin: 0;
  padding: 0;
  background-color: #E6EDFF;
  width: 100%;
  height: 700px ;
  float: right;
  position: relative;
  top: 54px;
}

.secondpg img{
  width: 800px;
  float: left;
  position: relative;
  top: -150px;
}

.secondpg h1{
  width: 500px;
  font-size: 3.8em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  float: right;
  position: relative;
  top: 80px;
  left: -100px;
}

.secondpg p{
  float: right;
  width: 500px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  position: relative;
  left: 400px;
  top: 260px;
}

.secondpg button{
  position: relative;
  top: 500px;
  left: 920px;
}

.thirdpg{
  background-color: #0cc3e2;
  width: 100%;
  height: 700px ;
  float: right;
  position: relative;
  top: 54px;
}

.thirdpg h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2.5em;
  color: white;
  text-align: center;
  width: 900px;
  position: relative;
  left: 310px;
  top: 20px;
}

.thirdpg p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  color: white;
  text-align: center;
  width: 400px;
  position: relative;
  left: 550px;
  top: 50px;
}

.thirdpg ul{
  float: left;
  margin-top: 80px;
  margin-left: 170px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.1em;
}
.thirdpg li{
  list-style: none;
  float: left;
  margin-right: 140px;
  background-color: white;
  border-radius: 50px;
  width: 300px;
  height: 70px;
  text-align: center;
  padding-top: 280px;
  color: black;
  background-repeat: no-repeat;
  background-size: 230px;
  background-position: 50% 20%;
}

#partnership{
  background-image: url("./img-li1.png");
}

#ind-giving{
  background-image: url("./img-li2.png");
}

#support{
  background-image: url("./img-li3.png");
  background-size: 400px;
}

.thirdpg button{
  position: relative;
  left: 650px;
  top: 40px;
}

.fourthpg{
  background-color: rebeccapurple;
  width: 100%;
  height: 700px ;
  float: right;
  position: relative;
  top: 90px;
}

.parterner{
  background-color: #E6EDFF;
  width: 100%;
  height: 400px;
  position: relative;
  top: -37px;
  
}

.parterner h1{
  text-align: center;
  font-size: 3.5em;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 10px;

}

.parterner ul{
  margin-left: 140px;
}

.parterner li{
  list-style: none;
  float: left;
  margin-right: 100px;
  margin-top: -30px;
}

.parterner img{
  width: 330px;
}
#part{

  position: relative;
  top: 50px;

}

.team{
  background-color: #0cc3e2;
  width: 100%;
  height: 390px;
  position: relative;
  top: -100px;
}
.team h1{
  text-align: center;;
  font-size: 3.5em;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 10px;

}

.team li{
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
  font-size: 1.3em;
  float: left;
  position: relative;
  left: 120px;
  top: 40px;
  margin-right: 170px;

}

.team li img{
  width: 30px;
  margin-right: 5px;
  position: relative;
  top: 10px;
}

.profile{
  width: 150px !important ;
  position: relative;
  top: 5px !important;
}

.fifthpg{
  background-color: #E6EDFF;
  width: 100%;
  height: 700px ;
  float: right;
  position: relative;
  top: 54px;
}

.fifthpg img{
  width: 800px;
  position: relative;
  top: 0px;
  left: -160px;
}

.info{
  float: right;
  position: relative;
  top: -390px;
  right: 150px;
}

.info h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  
}

.info p{
  width: 200px;
}

#email{
  font-size: 1.5em;
  font-weight: bold;
  position: relative;
  top: 60px;
  color: black;
  text-decoration: none;
}

.info li{
  list-style: none;
  position: relative;
  top: 30px;
  left: 10px;
  float:right;
  margin-right: 10px;
}

.info img {
  width: 40px;
}

#logo{
  width: 500px;
  position: relative;
  left: 150px;
  top: -290px;
}

#copywrite{
  position: relative;
  top: 215px;
  left: -450px;
  width: 300px;
}

.AboutUs{
  color: black;
  width: 500px;
  position: relative;
  top: 150px;
  left: 500px;
}

.Services {
  color: black;
  width: 500px;
  position: relative;
  top: 150px;
  left: 500px;
}

.Contact {
  color: black;
  width: 500px;
  position: relative;
  top: 150px;
  left: 500px;
}

.siIN{
  position: relative;
  top: 150px;
}


/*sign in page*/

.SingInContent{
  margin: 0;
  padding: 0;
  position: relative;
  top: 40px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: #EFEFEF;
  height: 44em;
}

.right{
    float: right;
    position: relative;
    top: 40px;
    width: 450px;
    height: auto;
    background: white;
    border-radius: 30px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.right h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.right form{
  padding: 0 40px;
  box-sizing: border-box;
}

#login-container{
  position: relative;
  right: 110px;
  top: 110px;
  display: none;
}

.txt_field{
  position: relative;
  border-bottom: 1px solid #adadad;
  margin: 40px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 20%;
  left: 5px;
  color: #adadad;
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -8px;
  color: #2691d9;
}

.passForgoten {
  margin: -5px 0 20px 5px;
  color: rgb(72, 72, 72);
  cursor: pointer;
}
.passForgoten a{
  text-decoration: none;
}
.passForgoten a:hover{
  text-decoration: underline;
}
input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 1.5em;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover{
  border-color: #015d9a;
  transition: .5s;
}

.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a{
  color: #2691d9;
  text-decoration: none;
}
.signup_link a:hover{
  text-decoration: underline;
}


.logo {
    position: fixed;
    top: 90px; 
    left: 60px;
    width: 750px;
  }
 
  #Forgot-pass-container{
    display: none;
    position: relative;
    right: 110px;
    top: 150px;
  }

  
.txt_field2{
  position: relative;
  border-bottom: 1px solid #adadad;
  margin: 30px 0;
}
.txt_field2 input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field2 label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.txt_field2 input:focus ~ label,
.txt_field2 input:valid ~ label{
  top: -2px;
  color: #2691d9;
}

.Forgot-pass-link2{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.Forgot-pass-link2 a{
  color: #2691d9;
  text-decoration: none;
}
.Forgot-pass-link2 a:hover{
  text-decoration: underline;
}



#signup-container{
  display: block;
  position: relative;
  right: 110px;
}

.txt_field1{
    position: relative;
    top: -18px;
    border-bottom: 1px solid #adadad;
    margin: 14px 0;
  }
.txt_field1 input{
    position: relative;
    top: 15px;
    width: 100%;
    height: 35px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    
    
  }

.txt_field1 label{
    position: relative;
    top: -15px;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    transition: .5s;
  }

.txt_field1 input:focus ~ label,
.txt_field1 input:valid ~ label{
    top: -30px;
    color: #2691d9;
  }

.signup_link1{
    margin: 20px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
  }
.signup_link1 a{
    color: #2691d9;
    text-decoration: none;
  }
.signup_link1 a:hover{
    text-decoration: underline;
  }

  select#user-type {
    width: 100%;
    padding: 10px;
    margin: 20px 0; 
    font-size: 16px;
    border: 2px solid #adadad;
    border-radius: 0px;
    background: #fff;
    outline: none;
    transition: border-color 0.5s;
}

select#user-type:focus {
  border-color: #2691d9;
  box-shadow: 0 0 5px rgba(38, 145, 217, 0.5);
}

select#user-type option {
    color: #999;
}

select#user-type option:checked {
    background-color: #2691d9;
    color: black;
}


select#user-type:hover option {
    background-color: white;
}



.terms-checkbox {
  margin: 0px 0 10px 0;
}

.terms-checkbox input[type="checkbox"] {
  margin-right: 5px;
}

.terms-checkbox label {
  display: inline-block;
  font-size: 14px;
  color: #666;
}

.terms-checkbox a {
  text-decoration: none;
}

.terms-checkbox a:hover {
  text-decoration: underline;
}


/* Styles for Date of Birth input field */
.flex-container {
    display: flex;
    flex-direction: column;
    margin: 10px 0px 15px 0px;
}

.flex-container label {
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="date"]{
  width: 100%;
  padding: 7px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;

}

input[type="date"]:focus {
    border-color: #2691d9;
}



.gender-title {
    font-weight: bold;
    margin-bottom: 5px;
}
.gender-buttons li{
  list-style: none;
  display: inline-block;
  margin: 8px 8px 0 0px;
}


#association_verification{
  display: none;
  position: relative;
  top: 65px;
  right: 30px;
  width: 780px;
  
}

.ass_inf{
  float: left;
  position: relative;
  top: -18px;
  border-bottom: 1px solid #adadad;
  margin: 5px 10px 0 0px;
  width: 48%;
  height: 70px;
}

.ass_inf input{
  position: relative;
  top: 35px;
  width: 100%;
  height: 35px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.ass_inf label{
  position: relative;
  top: 10px;
  left: 5px;
  color: #adadad;
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.ass_inf input:focus ~ label,
.ass_inf input:valid ~ label{
  top: -10px;
  color: #2691d9;
}

.ass_inf select{
  position: relative;
  top: 45px;
  width: 100%;
  height: 35px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.state_label{
  position: relative;
  top: -5px  !important;
}

.ass_inf select:focus ~ label,
.ass_inf select:valid ~ label{
  color: #2691d9;
 
}
.valid-feedback{
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s, transform 0.8s;
  
}

.ass_inf input:valid ~ .valid-feedback,
.ass_inf select:valid ~ .valid-feedback
{
  color:green;
  opacity: 1;
  transform: translateY(20px);
}

.invalid-hide{
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s, transform 0.5s;
  
}

.invalid-feedback{
  color: red;
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 0.5s, transform 0.5s;
}


.btn_sumbmit{
  margin-top: 20px;
  margin-bottom: 10px;
  width: 20%;
  font-size: 0.7em;
}

.ver_file{
  display: inline-block;
  position: relative;
  top: 5px;
  margin-top: 15px;

}

.ver_file input:invalid{
  color: red;
}

.ver_file input:valid{
  color: green;
}
